@*@model List<Shopee_Food.Models.MatHangMua>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_cart.cshtml";
}

<style>

</style>

<h2 style="text-align:center; color:white; margin-top: 30px; margin-bottom: 30px;">THÔNG TIN GIỎ HÀNG</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên</th> 
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th>Chi tiết</th>
            <th>Cập nhật</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>Banh mi nuong</td>
            <td>
                <input type="number" min="1" value="" name="SoLuong" />
            </td>
            <img class="img_shop" style="object-fit: cover; width: 45%;" src="" />

            <td>@string.Format("{0:N0} đ", Double.Parse(10000.ToString()))</td>
            <td>@string.Format("{0:N0} đ", Double.Parse(10000.ToString())) </td>
            <td>
                <a class="btn btn-success" href="#">Chi tiết</a>
            </td>

            <td>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </td>

            <td>
                @Html.ActionLink("Xóa hàng", "#", "#", new
                {

                })
            </td>
        </tr>
        
        <tr style="font-weight:bold; text-align:right; color:red;">
            <td colspan="4">Tổng số lượng:  @ViewBag.TongSL</td>
            <td colspan="5">Tổng tiền:@string.Format("{0:N0} đ", Double.Parse(10000.ToString())) </td>
        </tr>
    </tbody>
</table>
@*<a href="@Url.Action("CreatePayment", "Payment" )">Thanh Toán</a>*@
<a href="#" style="display: inline-block; border-radius: 5px; padding: 10px 20px; font-size: 16px; font-weight: bold;
     text-align: center; text-decoration: none; color: #fff;
     background-color: #007bff; border: none; cursor: pointer;
     transition: background-color 0.3s ease;">Thanh Toán</a>

@*Kiểm tra giỏ hàng có trống hay không nêu trống thì thông báo*@
@if (Model == null)
{<h2>Hiện Tại Quý Khách Chưa Thêm Giỏ Hàng</h2>
}
else if (Model.Count < 3)
{
    <div style="min-height:200px"></div>
}




